*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background-color: #FD6E0A;
  color:white;
  border-radius: 5px;
  border:none;
  padding: 20px 35px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  color:#181818;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  color:#757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.text-center {
    text-align: center;
    margin-top: 50px;
}
.container {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}
/* main style */
header{
    background-color:#FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
    /* border: 1px solid red; */
}

nav{
  display:flex;
  justify-content: space-between;
  width: 72%;
  max-width: 1140px;
  /* border: solid black; */
  margin: 0px auto;
  align-items: center;
}
span{
  color:#FD6E0A;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
nav .menu{
  display:flex;
  list-style-type: none;
  gap:50px;
  align-items: center;
 }
nav .menu a{
  text-decoration: none;
  font-size: 20px;
  color:#474747;
}

#banner{
  margin: 47px 38px 0px 220px;
  /* border: 1px solid red; */
  display:flex;
  justify-content:space-between;
  align-items: center;
}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color:#474747;
}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color:#181818;
}
#banner .banner-content p{
  font-size: 18px;
  color:#757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#banner .images img{
  max-width: 584px;
  vertical-align: middle;
}

#about, #skills, #resume{
  padding-top: 130px;
}
#about .about-container{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 157px;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}

#about .about-container .about-info p{
  color:#757575;
  font-size: 20px;
  line-height: 30px;
}
#about .about-container .about-info h4{
  color:#474747;
  font-size: 20px;
  font-weight: bold;
}
#skills .skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  /* text-align: center; */
}
#skills .skills-container .skills-box{
  display:flex;
  gap: 24px;
}
.skills-box .skills-card{
  padding: 30px;
  box-shadow: 0 6px 50px #00000010;
  max-width: 267px;
}
.skills-card img{
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}
.skills-card h3{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color:#181818;
}
.skills-card p{
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}
#resume .resume-container{
  display:flex;
  gap:24px;
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 113px auto 0px;
}
#resume .resume-container .section-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #474747;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;
}
#resume .resume-container .resume-card .card-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}
#resume .resume-container .resume-card .card-info{
  font-size: 20px;
  font-weight:500;
  margin-bottom: 20px;
  color: #757575;
}
#resume .resume-container .resume-card .card-text{
  font-size: 16px;
  color:#757575;
  line-height: 28px;
}
.resume-container hr {
  margin: 30px 0;
   border-top: 1px solid #D1D1D1;
}

/* Footer */

footer{
  margin-top: 130px;
  background-color: #FFF8F3;
  padding: 130px 0px;
}
footer .footer-container{
  width:71%;
  max-width: 1140px;
  margin: 0 auto;
  display:flex;
  gap:116px;
}
.footer-container .social{
  max-width: 562px;
}
.footer-container h2{
  font-size: 35px;
  font-weight: bold;
  color:#181818;
  margin-bottom: 20px;
}
.footer-container p{
  font-size: 16px;
  color:#474747;
  line-height: 30px;
  margin-bottom: 32px;
}
.footer-container .icons a{
  margin-right: 24px;
}

.footer-container form input[type="text"]{
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  border:none;
  border-radius: 5px;
  color:#757575;
}
.footer-container form textarea{
  width: 461px;
  padding: 18px 0px 134px 31px;
  border: none;
  border-radius: 5px;
  margin-bottom: 24px;
}
